# Housing Hypothesis
In this project, there are four sources of data that will be used to
support or nullify the hypothesis that the housing market in college 
towns weathers recession better than in non-college towns: 
- university_towns.txt - list of college towns
- state_abbreviations.csv - list of state abbreviations
- City_Zhvi_AllHomes.csv - all cities with monthly mean housing prices
- gdplev.xls - quarterly US GDP info 1947-2016q2, and annual GDP 1929-2015

In [1]:
import numpy as np
import pandas as pd

### 1. Reformat university_towns dataset
The university_towns dataset is in a format that is not conducive to
comparison with the other data sets. 
- It has one row for the state, followed by several rows for the college towns that are in that state. Needs converting to a two-column dataframe with state and city. 
- The states are spelled out but the housing data states use abbreviations. Long names need converting to two-letter abbreviations.

In [2]:
utowns = pd.read_table('university_towns.txt', header=None, names = ['RegionName'])
utowns.head()

                                        RegionName
0                                    Alabama[edit]
1                    Auburn (Auburn University)[1]
2           Florence (University of North Alabama)
3  Jacksonville (Jacksonville State University)[2]
4       Livingston (University of West Alabama)[2]

#### 1.1 Functions to strip extraneous characters and abbreviate states
- `fill_state()` and `clean_region()` functions will be used to strip off unneeded characters for the State and RegionName columns.
- `abbreviate_states()` is an all-purpose function to convert long state names to two-letter abbreviations.

In [3]:
def fill_state(row):
    '''
    Creates state value for each row. For each atate, the first RegionName 
    will be the name of the State with "[edit]" after it. The following 
    RegionNames will be cities in that state, until the next State 
    is encountered.
    '''
    rowval = row.loc['RegionName']
    sep = '['
    if 'edit' in rowval:
        global cur_state
        cur_state = rowval
    return cur_state.split(sep, 1)[0]

def clean_region(row):
    '''
    Returns a string that is the name of the city (RegionName) stripped
    of its non-city name characters.
    '''
    rowval = row.loc['RegionName']
    sep = ' ('
    return rowval.split(sep, 1)[0]

def abbreviate_states(df):
    '''
    Dataframe must nave a column named 'State'
    Returns dataframe with abbreviated state names.
    '''
    import csv
    st_abbrevs = csv.reader(open('state_abbreviations.csv', 'r'))
    state_dict = {}
    for row in st_abbrevs:
       k, v = row
       state_dict[k] = v
    
    df['State'] = df['State'].str.upper()
    df['State'] = df['State'].map(state_dict)
    return df

#### 1.2 Create university towns datasframe
The method used is:
1. Create a clean State column so that each city row has a state.
2. Remove rows that are state "header" rows with no city information.
3. Remove extraneous characters from the RegionName column.
4. Convert long state names to abbreviations.
5. Move State column to the first column position.

In [4]:
# create a clean state column
cur_state = ''
utowns['State'] = utowns.apply(fill_state, axis = 1)

# remove rows that are state 'headers'
utowns = utowns[~utowns['RegionName'].str.endswith('[edit]')]

# clean regionname data values
utowns['RegionName'] = utowns.apply(clean_region, axis = 1)

# convert state names to abbreviated names
utowns = abbreviate_states(utowns)

# move state column to front
states = utowns['State']
utowns.drop(labels=['State'], axis=1,inplace = True)
utowns.insert(0, 'State', states)
utowns = utowns.set_index(['State', 'RegionName'])

utowns.head()

Empty DataFrame
Columns: []
Index: [(AL, Auburn), (AL, Florence), (AL, Jacksonville), (AL, Livingston), (AL, Montevallo)]

### 2. Reformat housing market dataset
The dataset with housing market data is monthly, from April 1996 to August 2016.

In [5]:
housing = pd.read_csv('City_Zhvi_AllHomes.csv')
housing.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

#### 2.2 Create quarterly columns from monthly data
To compare this against the GDP dataset, the monthly data must be converted to quarterly data. It will only look at the period of time from January 2000 to August 2008.
1. Define start and end of time period we want.
2. Create quarterly columns that sum each three months' mean market values
3. Remove all columns besides State, RegionName, and quarterly columns.
4. Index the dataframe

In [6]:
start=housing.columns.get_loc('2000-01')
end=housing.columns.get_loc('2016-08')

# iterate across every third column from 2001-01 to 2016-08
columns_to_keep = ['RegionName', 'State']
for i in range(start, end, 3):
    mon = housing.columns[i][5:7]  # get month
    yr = housing.columns[i][0:4]   # get year
    q = (int(mon) // 3) + 1        # calculate quarter
    col_name = yr + 'q' + str(q)   # make column name for yr/qtr
    
    # sum values from columns for quarter
    qsum1 = housing[housing.columns[i]].astype(float)
    qsum2 = housing[housing.columns[i+1]].astype(float)
    qsum3 = housing[housing.columns[i+2]].astype(float)
    
    # create column for this quarter
    housing[col_name] = ((qsum1 + qsum2 + qsum3)/3).astype(float)
    columns_to_keep.append(col_name)

# Keep quarter columns
housing = housing[columns_to_keep]

# make multi-index State,RegionName
housing = housing.set_index(['State', 'RegionName']).sort_index()

housing.head()

                           2000q1         2000q2         2000q3  \
State RegionName
AK    Anchor Point            NaN            NaN            NaN
      Anchorage     174633.333333  175266.666667  179566.666667
      Fairbanks     163200.000000  165033.333333  169300.000000
      Homer                   NaN            NaN            NaN
      Juneau        192466.666667  194300.000000  195166.666667

                           2000q4         2001q1         2001q2  \
State RegionName
AK    Anchor Point            NaN            NaN            NaN
      Anchorage     182833.333333  182766.666667  183933.333333
      Fairbanks     172800.000000  164433.333333  157800.000000
      Homer                   NaN            NaN            NaN
      Juneau        194166.666667  197166.666667  199533.333333

                           2001q3         2001q4         2002q1  \
State RegionName
AK    Anchor Point            NaN            NaN            NaN
      Anchorage     188566.666667  191866.666667  193966.666667
      Fairbanks     158200.000000  154666.666667  152766.666667
      Homer                   NaN            NaN            NaN
      Juneau        202433.333333  206300.000000  209066.666667

                           2002q2      ...               2014q2  \
State RegionName                       ...
AK    Anchor Point            NaN      ...        157800.000000
      Anchorage     196700.000000      ...        278200.000000
      Fairbanks     154533.333333      ...        209233.333333
      Homer                   NaN      ...        233033.333333
      Juneau        209866.666667      ...        328266.666667

                           2014q3         2014q4         2015q1  \
State RegionName
AK    Anchor Point  158000.000000  155566.666667  154266.666667
      Anchorage     280766.666667  281700.000000  284166.666667
      Fairbanks     207100.000000  207000.000000  207766.666667
      Homer         232900.000000  231066.666667  233500.000000
      Juneau        331833.333333  333200.000000  335666.666667

                           2015q2         2015q3         2015q4  \
State RegionName
AK    Anchor Point  154100.000000  153966.666667  154766.666667
      Anchorage     287166.666667  290233.333333  291700.000000
      Fairbanks     206466.666667  208433.333333  209466.666667
      Homer         238100.000000  238933.333333  240500.000000
      Juneau        337366.666667  325933.333333  319333.333333

                           2016q1         2016q2         2016q3
State RegionName
AK    Anchor Point  156800.000000  161533.333333            NaN
      Anchorage     293700.000000  294833.333333  254611.111111
      Fairbanks     209066.666667  212933.333333  198300.000000
      Homer         243166.666667  245166.666667            NaN
      Juneau        318933.333333  319933.333333  276955.555556

[5 rows x 67 columns]

### 3. Reformat GDP dataset
The GDP data has both yearly and quarterly data. The quarterly data will be selected for the datafame and then it will be analized to find the start, end, and bottom of the economic recession.

In this section, the functions are defined in a separate file (get_recession_period.py), then are called within the Jupyter cells.

In [7]:
import get_recession_period as grp
gdp = pd.read_excel('gdplev.xls')
gdp = grp.clean_gdp(gdp)
gdp.head()

  Quarter GDP Current GDP Chained GDP Change
0  2000q1       10031     12359.1        NaN
1  2000q2     10278.3     12592.5      247.3
2  2000q3     10357.4     12607.7       79.1
3  2000q4     10472.3     12679.3      114.9
4  2001q1     10508.1     12643.3       35.8

In [24]:
recssn_start = grp.get_recession_start(gdp)
recssn_end = grp.get_recession_end(gdp, recssn_start)
recssn_bottom = grp.get_recession_bottom(gdp, recssn_start, recssn_end)
print('Recession start:  {}\nRecession end:    {}'.format(recssn_start, recssn_end))
print('Recession bottom: {}'.format(recssn_bottom))

Recession start:  2008q3
Recession end:    2009q4
Recession bottom: 2009q2

In [25]:
%run housing_data_ttest.py
#%run script_to_test_convert_housing_data_to_quarters.py